


{{>menu}}


<section class="card_result">
  <div class="container ">
    <div class="row">


      <div class="col-sm-4 card_index ">
        <div class="card ">
          <div class="card-body">
            <div class="card-title">
              Title Search
            </div>
            <div class="card-text">
              With supporting text below as a
               natural lead-in to additional content.
            </div>
            <br>
            <a href="/result" class="btn btn-primary"> Отрыть </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
{{>footer}}
