{{>menu}}


<section>
  <div class="container cont">
    <div class="row">
      <div class="col-lg-12">
        <div class="doc-title">
          <h3>Поиск быстро эфективо</h3>
           <p> GitHub is where asdasd builds software.
              Dismiss Create your own GitHub profile.
              Sign up for your own profile on GitHub,
              the best place to host code, manage projects,
              and build software alongside 50 million developers.
            </p>

            <form action="/arr" method="post">

              <input  type="text" name="title"><br><br>
              <textarea style="width:300px; height:200px;"></textarea><br><br>
              <input class="btn btn-primary button" type="submit" value="Search" >
            </form>
         </div>
      </div>

    </div>
  </div>
</section>
{{>footer}}
