

{{>menu}}


<section class="index" >
  <div class="container view">
    <div class="row">
      <div class="public">
          <h1>Поиск быстро эфективо</h1>
           <form action="/arr" method="post">
             <input  type="text" name="title">
             <input class="btn btn-primary button" type="submit" value="Search" >
           </form>
        </div>
     </div>
  </div>
</section>
{{>footer}}
