



{{>menu}}


<section>
  <div class="container cont">
    <div class="row">
      <div class="cont-title">
        <h3>Поиск быстро эфективо</h3>
         <p> GitHub is where asdasd builds software.
            Dismiss Create your own GitHub profile.
            Sign up for your own profile on GitHub,
            the best place to host code, manage projects,
            and build software alongside 50 million developers.
          </p>
      </div>
    </div>
  </div>
</section>
{{>footer}}
